In [23]:
import pandas as pd

In [24]:
pd.__version__

'2.2.3'

In [25]:
dict_medidas = {'idade':[15,18,25,25,40,55,58,60,80], 'altura':[160,162,165,168,172,174,174,174,176]}

In [26]:
dict_medidas

{'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80],
 'altura': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [27]:
df_medidas = pd.DataFrame.from_dict(dict_medidas)

In [28]:
df_medidas

   idade  altura
0     15     160
1     18     162
2     25     165
3     25     168
4     40     172
5     55     174
6     58     174
7     60     174
8     80     176

## MEDIDAS RESUMO

### MEDIDAS DE POSIÇÃO

In [29]:
#MEDIA
df_medidas["idade"].mean()

np.float64(41.77777777777778)

In [30]:
#MEDIANA   
df_medidas['idade'].median()

np.float64(40.0)

In [31]:
#MODA
df_medidas['idade'].mode()

0    25
Name: idade, dtype: int64

In [32]:
df_medidas['altura'].mean()

np.float64(169.44444444444446)

In [33]:
df_medidas['altura'].median()

np.float64(172.0)

In [34]:
df_medidas['altura'].mode()

0    174
Name: altura, dtype: int64

## MEDIDAS DE DISPERSÃO

### VARIANCIA

variancia é a media dos quadrados das diferenças entre cada valor e a media aritmetica, fonece ideia de quao distantes os valores estão da media, considerando o peso de cada
diferença ao quadrado

In [37]:
df_medidas.idade.var()

np.float64(509.94444444444446)

### DESVIO PADRÃO
é a raiz quadrada da variancia, ela expressa a dispersão em termos da mesma unidade dos dados e é uma medida de dispersão comum

In [36]:
df_medidas.idade.std()

np.float64(22.58194952709895)

### COEFICIENTE DE VARIAÇÃO
é o desvio padrão dividido pela media, expresso como porcentagem, ele indica a variabilidade relativa dos dados em relação a media e é util para comparar a dispersão
entre conjuntos de dados diferentes

In [39]:
df_medidas.idade.std() / df_medidas.idade.mean() *100

np.float64(54.05253876167302)

## MEDIDAS DE FORMA

### Assimetria
indica o grau e a direção da distribuição em relação a media, uma assimetria positiva significa que a cauda direita da distribuição é mais longa(os valores maiores estão mais
espalhados)
enquanto a assimetria negativa indica que a cauda esquerda da distribuição é mais longa

In [40]:
df_medidas.idade.skew()

np.float64(0.368108517895537)

## Curtose
Mede o pico ou a "pontuação" da distribuição, uma curtose alta indica uma distribuição mais concentrada(pico mais agudo e caudas mais pesadas)
enquanto uma curtose baixa indica uma distribuição mais acertada (pico menos agudo e caudas menos pesadas)

In [41]:
df_medidas.idade.kurtosis()

np.float64(-1.1344461075421046)

### Obter medidas de posição simplesmente

In [42]:
df_medidas.describe()

           idade      altura
count   9.000000    9.000000
mean   41.777778  169.444444
std    22.581950    5.897269
min    15.000000  160.000000
25%    25.000000  165.000000
50%    40.000000  172.000000
75%    58.000000  174.000000
max    80.000000  176.000000

## CORRELAÇÃO

### correlação pelo metodo de pearson

In [43]:
#correlação do df, se nao declararmos sempre sera feito por pearson
df_medidas.corr(method='pearson')

           idade    altura
idade   1.000000  0.931024
altura  0.931024  1.000000

In [44]:
#correlação entre medidas
df_medidas.idade.corr(df_medidas.altura)

np.float64(0.9310236045054339)

### Correlação pelo metodo de spearman

In [45]:
df_medidas.corr(method='spearman')

           idade    altura
idade   1.000000  0.978803
altura  0.978803  1.000000

## Representações graficas

### BOX PLOT